hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



img {
    vertical-align: middle;
}


body, html {
	height: 100%;
	min-height: 100%;
	
}
body {
	
}
/*.no-js {
	padding-top: 106px;
}*/
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/* Slide 4 *//*
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

/*#slide-4 .bcg {background-image:url('jmstan.github.io/my-site/assets/bcg_slide-4.jpg')} */
/*.bcg {background-image:url('jmstan.github.io/my-site/assets/bcg_slide-4.jpg')};  */
/*.bcg {background:url('{{site.url}}assets/sunset1.jpg')};

.curtainContainer {
	background: url('{{site.url}}assets/sunset.jpg');
}


.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center;
}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		margin: 0 auto;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}


