        

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{site.url}}css/sections.css">
        <link rel="stylesheet" href="{{site.url}}css/parallax.css">    
        <link rel="stylesheet" href="{{site.url}}css/styles.css">    
    <!--     <link href="https://get.gridsetapp.com/31380/" rel="stylesheet" />   -->


       
        <script src="{{site.url}}js/main.js"/></script>
        <script src="{{site.url}}js/skrollr.js" /></script>
        <script src="{{site.url}}js/jquery.-1.11.1.min.js"/></script>

     
        <script src="//use.typekit.net/jdd3nyb.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    </head>
    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <body>
  
<!--  <div class="wrapper">
    
        <div class="section da-show da-showgrid">

              <div class="header-container">
                 <!--       <header class="wrapper clearfix">    -->

        <!--                    <div class="top da-all">
                              

                                <div class="main-nav d-all">
                                   <h1 class="logo"> Paper & Ink  </h1>     

                                    <nav class="nav"> 
                                        <ul>
                                            <li><a href="{{site.url}}/about">About</a></li>
                                            <li><a href="#">Work</a></li>
                                            <li><a href="{{site.url}}/service">Service</a></li>
                                            <li><a href="#">Contact</a></li>

                                        </ul>
                                    </nav>

                                </div>   

                            </div>

                  <!--      </header>
               </div> 

 <!--     <div class="main-container">
            <div class="main wrapper clearfix">    -->

